<table class="table table-bordered table-hover">
    <thead>
    <tr>
        {% if entity.items.first.product.id is defined %}
            <th>{{ "product.singular" | trans }}</th>
            <th>{{ "transaction.quantity" | trans }}</th>
            <th>{{ "transaction.price" | trans }}</th>
            <th>{{ "transaction.total" | trans }}</th>
            <th>{{ "transaction.returned" | trans }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in entity.items %}
        {% if (item.product.id is defined) %}
            <tr>
                <td><a href="{{ path('catalogue_product_show', { id: item.product.id }) }}">{{ item.product.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price | prices(item.product.priceType) }}</td>
                <td>{{ (item.product.price * item.quantity) | prices(item.product.priceType) }}</td>
                <td>
                    {% if item.returned %}
                        <span class="label label-important">{{ "yes" | trans }}</span>
                    {% else %}
                        <span class="label label-success">{{ "no" | trans }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        {% if entity.items.first.product.id is defined or  entity.items.first.plan.id %}   
            <td>{{ "transaction.subtotal" | trans }}</td>
            <td></td>
            {% if (entity.items.first.product.id is defined) %}<td></td>{% endif %}
            <td><b>{{ (entity.totalPrice+entity.tax) | price }}</b></td>
            {% if (entity.items.first.product.id is defined) %}<td></td>{% endif %}
        {% endif %}   
    </tr>

    {% if (entity.items.first.product.id is defined)  %}
        <tr>
            <td>{{ "delivery.expenses.singular" | trans }}</td>
            <td></td>
            <td></td>
            <td>{{ totals.delivery_expenses | price }}</td>
            {% if (entity.items.first.product.id is defined) %}<td></td>{% endif %}
        </tr>
    {% else %}
         <tr>
            <td>{{ "tax.singular" | trans }}</td>
            <td></td>
            <td>{{ entity.tax | price }}</td>
        </tr>
    {% endif %}


    <tr>
        {% if entity.items.first.product.id is defined or  entity.items.first.plan.id %}   
            <td>{{ "transaction.total" | trans }}</td>
            <td></td>
            {% if (entity.items.first.product.id is defined) %}<td></td>{% endif %}
            <td><b>{{ totals.amount | price }}</b></td>
            {% if (entity.items.first.product.id is defined) %}<td></td>{% endif %}
        {% endif %}
    </tr>
    </tbody>
</table>