{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}invoices{% endblock %}

{% block content %}
    
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "invoice.singular" | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "transaction.plural" | trans }}</a></li>
        <li><a href="{{ path('payment_invoice_index') }}">{{ "invoice.plural" | trans }}</a></li>
        <li><a href="{{ path('payment_invoice_show', { id: entity.id }) }}">#{{ entity.invoiceNumber }}</a></li>
      </ol>
    </section>
      
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="btn-group">
                    <a href="?download=true" target="_blank" class="btn btn-success btn-flat">
                        Exportar factura a PDF
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box-body show-tables">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ "invoice.singular" | trans }}</td>
                            <td>{{ entity.invoiceNumber }}</td>
                        </tr>
                        <tr>
                            <td>{{ "transaction.date" | trans }}</td>
                            <td>{{ entity.created.format('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>{{ "transaction.singular" | trans }}</td>
                            <td><a href="{{ path('payment_transaction_show', { id: entity.transaction.id }) }}">#{{ entity.transaction.transactionKey }}</a></td>
                        </tr>
                        <tr>
                            <td>{{ "user" | trans }}</td>
                            <td>
                                <a href="{{ path('core_actor_show', { id: entity.transaction.actor.id }) }}">{{ entity.transaction.actor.name }}</a>
                            </td>
                        </tr>
                        {% if entity.dni != ''%}
                            <tr>
                                <td>DNI</td>
                                <td>{{ entity.dni }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ "address.singular" | trans }}</td>
                            <td>
                                {{ entity.fullName }}<br />
                                {{ entity.address }}<br />
                                {{ entity.postalCode }} {{ entity.city }}<br />
                                {% if entity.provinces is defined %}{{ entity.provinces[entity.province] }}{% endif %} -
                                {% if entity.countries is defined %}{{ entity.countries[entity.country] }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "items" | trans }}</td>
                            <td class="transaction-show-tables">
                                {{ include('PaymentBundle:Transaction:table.html.twig', { entity: entity.transaction}) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </section>
                            
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
        });
    </script>
{% endblock %}