                       
<table class="cart-table total" style="width: 100%;">
    {% for item in transaction.items %}
        {% set product = item.product %}
        <tr>
            <td class="title">
                <span>{{ product.name }}</span>
            </td>
            <td class="price">
                <span>{{ item.quantity }} x {{ product.initPrice | price(true,true,false,2,",",".") }}</span>
            </td>
            <td class="price">
                {% if product.discount %}
                   dto. {{ product.discount }} {% if product.discountType %}€{%else%}%{% endif %}
                {% endif %}
            </td>
            <td></td>
            <td class="price3">
                {% if  product.discount %}
                    <span>{{ (product.price * item.quantity) | price(true,true) }}</span>
                {% else %}
                    <span>{{ (product.initPrice * item.quantity) | price(true) }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    <tr class="delivery-line">
        <td class="title">
            <span>{{ "checkout.delivery.costs" | trans }}</span>
        </td>
        <td class="price">
            {% if 'by_carrier' == get_parameter('core.delivery_expenses_type') %}
                ({{ delivery.carrier.name }} - {{ delivery.carrier.transitTime }}h)
            {% endif %}
        </td>
        <td></td>
        <td></td>
        <td class="price3">
            <strong>{{ totals.delivery_expenses | price }}</strong>
        </td>
    </tr>

    <tr class="subtotal">
        <td></td>
        <td></td>
        <td>
            <span><strong>{{ "checkout.subtotal" | trans }}</strong>:</span><br>
            <span>{{ "vat" | trans }} ({{ transaction.vat }}%):</span>
        </td>
        <td></td>
        <td class="price3">
            <strong>{{ (transaction.totalPrice + totals.delivery_expenses) | price }}</strong><br>
            <span>+ {{ totals.vat | price }}</span>
        </td>
    </tr>

    <tr class="total">
        <td></td>
        <td></td>
        <td >
            <strong>{{ "total" | trans }}:</strong>
        </td>
        <td></td>
        <td class="price3">
            <em>{{ totals.amount | price }}</em>
        </td>
    </tr>
</table>