<style type="text/css">
<!--
table { vertical-align: top; }
tr    { vertical-align: top; }
td    { vertical-align: top; }
-->
</style>
<page backcolor="#FEFEFE">
    <bookmark title="Lettre" level="0" ></bookmark>
    <table cellspacing="0" style=" width: 100%; text-align: left; font-size: 14px;" >
        <tr>
           
            <td style="width: 50%; color: #444444;">
                {#<img style="width: 250px;" src="{{twig_global.getParameter('server_base_url')}}{{ asset('bundles/front/images/logo.png') }}" alt="Logo"><br>#}
                Logo
            </td>
            <td style="width: 50%;">
                 
                    <span>{{ "transaction.number" | trans }}: <strong>{{ invoice.transaction.transactionKey }}</strong></span><br>
                    <span>{{ "checkout.date" | trans }}: {{ invoice.created | date("d/m/Y") }}</span>
               
            </td>
        </tr>
    </table>
    <br>
    <br>
    
    <table cellspacing="0" style="width: 100%; text-align: left; font-size: 13px;">
        <tr>
            <td style="width:50%">
                <h4>{{ "checkout.customer.info" | trans }}</h4>
                <p>{{ include('PaymentBundle:Checkout:addresses/_billing.html.twig') }}</p>
                
            </td>
            <td style="width:50%;">
               <h4>{{ "checkout.business.info" | trans }}</h4>
                <p>
                    {{ twig_global.getParameter("name") }}<br />
                    {{ twig_global.getParameter("address") }}<br />
                    {{ twig_global.getParameter("postal_code") }} {{ twig_global.getParameter("city") }}<br />

                    {{ twig_global.getParameter("server_base_url") }}
                </p>
                
            </td>
        </tr>
       
    </table>
    <br>
    <br>
    <br>
    <br><br>
    <br><br>
    <br>
 
        
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 12px;">
        <tr>
            <th style="width: 12%;padding:10px;background-color: #ccc;color:#fff;">{{ "invoice.reference" | trans }}</th>
            <th style="width: 50%;padding:10px;background-color: #ccc;color:#fff;">{{ "invoice.description" | trans }}</th>
            <th style="width: 13%;padding:10px;background-color: #ccc;color:#fff;">{{ "checkout.units" | trans }}</th>
            <th style="width: 12%;padding:10px;background-color: #ccc;color:#fff;">{{ "checkout.rrp.unit" | trans }}</th>
            <th style="width: 13%;padding:10px;background-color: #ccc;color:#fff;">{{ "checkout.rrp.total" | trans }}</th>
        </tr>
        {% for item in invoice.transaction.items %}
            {% if invoice.transaction.items.first.product.id is defined %}
                <tr>
                    <td style="padding:10px;border: solid 1px #d2d2d2;">{{ item.product.reference }}</td>
                    <td style="padding:10px;border: solid 1px #d2d2d2;">{{ item.product.name }}</td>
                    <td style="padding:10px;border: solid 1px #d2d2d2;text-align:center;">{{ item.quantity }}</td>
                    <td style="padding:10px;border: solid 1px #d2d2d2;text-align:center;">{{ item.product.price | price(true) }}</td>
                    <td style="padding:10px;border: solid 1px #d2d2d2;text-align:center;"><strong>{{ (item.product.price * item.quantity) | price }}</strong></td>
                </tr>
            {% endif %}
            
        {% endfor %}
        <tr>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;">{{ "checkout.delivery.costs" | trans }}</td>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;text-align:center;"><strong> + {{ totals.delivery_expenses | price }}</strong></td>
        </tr>
        <tr>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;">{{ "vat" | trans }} 
                {% if invoice.transaction.items.first.product.id is defined %}
                    (0%)
                {% elseif invoice.transaction.items.first.advert.id is defined %}
                    ({{invoice.transaction.vat}}%)
                {% endif %}
                </td>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;"></td>
            <td style="padding:10px;border: solid 1px #d2d2d2;text-align:center;"><strong>+ {{ totals.vat | price }}</strong></td>
        </tr>
        
        
    </table>
      
    <table cellspacing="0" style="width: 100%; font-size: 17px;">
        <tr>
            <td style="width: 70%;"></td>
            <td style="width: 22%; padding:10px;text-align:center;">
                
                <div class="total">
                <span>{{ "total" | trans }}</span>
                <strong>{{ totals.amount | price }}</strong>
                </div>
            </td>
             <td style="width: 8%;"></td>
        </tr>
    </table>
            
    <br><br>
    <br><br>
    <br>
    <b>{{ "invoice.notes" | trans }}</b>
    <p>
        {% if 'credit_card' == invoice.transaction.paymentMethod %}
            {{ "invoice.payment.by.credit.card" | trans }}
        {% elseif 'bank_transfer' == invoice.transaction.paymentMethod %}
            {{ "invoice.payment.by.bank.transfer" | trans }}
        {% endif %}
    </p>
    
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
     <table cellspacing="0" style="width: 100%; text-align: center; font-size: 13px;">
        <tr>
            <td style="width: 100%;">
                {{ twig_global.getParameter("admin_email") }}
                <span>|</span> {{ twig_global.getParameter("server_base_url") }}                
            </td>
        </tr>
     </table>
</page>
        
               
  
